@font-face {
    font-family: "dinfont";
    src: url(FF-DIN-Pro-Regular.ttf) format("truetype");
}
.my-textfont{
    font-family: 'dinfont', 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.my-sidebar{
    height: 100%;
    position: fixed;
    background-color: #e9e9e9;
    border-right: 0.05rem solid #afafaf;

}

.my-logosize{
    width: 80%;
}
#my-logo{
    width: 100%;
}
a:hover{
    opacity: 0.6;
    text-decoration: none;
}
.my-icons{
    margin-top: 11rem;
}