@font-face {
    font-family: "dinfont";
    src: url(fonts/FF-DIN-Pro-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "dinfont_l";
    src: url(fonts/FF-DIN-Pro-Light.ttf) format("truetype");
}
body{
    background-color: #e9e9e9;
}
.my-textfont{
    font-family: 'dinfont', 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.my-textfont2{
    font-family: 'dinfont_l', 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.my-sidebar{
    height: 100%;
    
    border-right: 0.05rem solid #afafaf;

}
.my-logosize{
    width: 80%;
}
@media only screen and (max-width: 767px) {
    .my-logosize{
        width: 20%;
    }
  }
#my-logo{
    width: 100%;
}
a:hover{
    opacity: 0.6;
    text-decoration: none;
}
