@font-face {
    font-family: "dinfont";
    src: url(fonts/FF-DIN-Pro-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "dinfont_l";
    src: url(fonts/FF-DIN-Pro-Light.ttf) format("truetype");
}
body{
    background-color: #252525;
}
.my-textfont{
    font-family: 'dinfont', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #000;
}
.my-textfont2{
    font-family: 'dinfont_l', 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.my-nav{
    background-color: #e9e9e9;
}
.my-sidebar{
    border-right: 0.05rem solid #afafaf;
    background-color: #e9e9e9;
    width:25%;
    height: 100%;
    position: fixed;
}
.my-content{
    width:75%;
    position: absolute;
    right:0;
}
.my-text{
    color: #e9e9e9;
}
.my-title{
    padding-left: 4.5rem;
    padding-top: 3rem;
    padding-bottom: 2.3rem;
    font-size: 3.5rem;
}
.my-title2{
    padding-top: 2rem;
    padding-bottom: 1.3rem;
    text-align: center;
    font-size: 3rem;
}
.my-photo{
    max-width: 256px;
    min-width: 140px;
}
.my-para{
    line-height: 2;
    font-size: 1.5rem;
    text-align: justify;
}
.my-socials{
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 5px;
}
.my-pad{
    padding-top: 1rem;
}
.my-menu{
    padding-top: 3rem;
}
.my-logosize{
    width: 80%;
    max-width: 200px;
}
.my-img{
    border: 1px #fff solid;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    background: #fff;
}
.my-hov{
    background: #fff;
}
.my-caption{
    display:none;
    color: #000;
    }    
.my-col:hover h2{
        display:block;
    }
.my-col:hover h3{
        display:block;
    }
.my-col:hover img{
    opacity: 0.5;
    }

@media only screen and (min-width: 1355px) {
    .my-sidebar{
        width:15%;
    }
    .my-content{
        width:85%;
    }
    .my-para{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 767px) {
    .my-logosize{
        width: 20%;
    }
    .my-sidebar{
        width:100%;
        position: unset;
    }
    .my-content{
        width: 100%;
        position: unset;
    }
    .my-para{
        font-size: 1.2rem;
    }
  }
  @media only screen and (max-height: 720px) {
    .my-pad{
        padding-top: 0.5rem;
    }
    .my-menu{
        padding-top: 1rem;
    }
    .my-logosize{
        max-width: 120px;
    }
}
#my-logo{
    width: 100%;
}
a:hover{
    opacity: 0.8;
    text-decoration: none;
}
a h2:hover{
    color: #464646;
}